*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scrollbar-gutter: stable;
}

body {
  background-color: #ebeae6;
  width: 100%;
  overflow-x: hidden;
}

/* Font Families */
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.font-urbanist {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
}
